.map-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 20px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 400px;
  }
  
  #map {
    height: 400px;
  }