<mat-card class="mainMatCard">
    <div class="container" fxLayout="row" fxLayoutAlign="none" fxFill fxLayout.sm="column" fxFill fxLayout.xs="column">

        <div class="leftColumn">
            <h1 class="mat-h1">...........</h1>


            <div class="smallScreenImageArea" fxLayout.sm="row" fxLayoutAlign.sm="start start" fxLayout.xs="column" fxLayoutAlign.xs="start">

                <div class="leftColumnSmallScreenUpper imageDiv">
                    <img mat-card-image src="assets/myImage.jpg" alt="myPicture">
                </div>

                <div class="rightColumnSmallScreenUpper">

                    <h2 class="mat-h2 contact">Contact</h2>
                    <mat-divider></mat-divider>

                    <mat-list role="list">
                        <mat-list-item class="contacts" role="listitem">
                            <div class="mat-body-1">Email:</div>
                        </mat-list-item>
                        <mat-list-item class="contactName" role="listitem">
                            <div class="mat-body">...........@gmail.com</div>
                        </mat-list-item>
                        <mat-list-item class="contacts" role="listitem">
                            <div class="mat-body-1">LinkedIn:</div>
                        </mat-list-item>
                        <mat-list-item class="contactName" role="listitem"><a
                                href="https://www.linkedin.com/in/.........../">
                                <div class="mat-body">https://www.linkedin.com/in/.........../</div>
                            </a>
                        </mat-list-item>
                    </mat-list>

                </div>
            </div>


            <div class="smallScreenImageArea" fxLayout.sm="row" fxLayoutAlign.sm="start start">
                <div class="leftColumnSmallScreenUpper">
                    <h2 class="mat-h2 languages">Languages</h2>
                    <mat-divider></mat-divider>

                    <mat-list role="list">
                        <mat-list-item role="listitem" class="languagesItem">
                            <div class="mat-body-1">...........</div>
                        </mat-list-item>
                        <mat-list-item role="listitem" class="languagesItem">
                            <div class="mat-body-1">...........</div>
                        </mat-list-item>
                        <mat-list-item role="listitem" class="languagesItem">
                            <div class="mat-body-1">...........</div>
                        </mat-list-item>
                    </mat-list>
                </div>


                <div class="rightColumnSmallScreenUpper">

                    <h2 class="mat-h2 hobbies">...........</h2>
                    <mat-divider></mat-divider>

                    <mat-list role="list">
                        <mat-list-item role="listitem" class="skillsAndHobbyItems">
                            <div class="mat-body-1">...........</div>
                        </mat-list-item>
                        <mat-list-item role="listitem" class="skillsAndHobbyItems">
                            <div class="mat-body-1">...........</div>
                        </mat-list-item>
                        <mat-list-item role="listitem" class="skillsAndHobbyItems">
                            <div class="mat-body-1">...........</div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>


            
            <h2 class="mat-h2 skills">Skills</h2>
            <mat-divider class="skillsMatDivider"></mat-divider>

            <div class="skillsContainer" fxLayout="row" fxLayoutAlign="none" fxLayout.sm="row" fxLayoutAlign.sm="start start">

                    <div class="leftLeftColumn">
                        <mat-list role="list">
                            <mat-list-item role="listitem" class="skillsAndHobbyItems">
                                <div class="mat-body-1">........... <span class="mat-body">...........</span></div>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="skillsAndHobbyItems">
                                <div class="mat-body-1">........... <span class="mat-body">...........</span></div>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="skillsAndHobbyItems">
                                <div class="mat-body-1">........... <span class="mat-body">...........</span></div>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="skillsAndHobbyItems">
                                <div class="mat-body-1">........... <span class="mat-body">...........</span></div>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="skillsAndHobbyItems">
                                <div class="mat-body-1">........... <span class="mat-body">...........</span></div>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="skillsAndHobbyItems">
                                <div class="mat-body-1">........... <span class="mat-body">...........</span></div>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="skillsAndHobbyItems">
                                <div class="mat-body-1">........... <span class="mat-body">...........</span></div>
                            </mat-list-item>
                        </mat-list>

                    </div>

                    <div class="rightLeftColumn">
                        <mat-list role="list">
                            <mat-list-item role="listitem" class="skillsAndHobbyItems">
                                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="skillsAndHobbyItems">
                                <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="skillsAndHobbyItems">
                                <mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="skillsAndHobbyItems">
                                <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="skillsAndHobbyItems">
                                <mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="skillsAndHobbyItems">
                                <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                            </mat-list-item>
                            <mat-list-item role="listitem" class="skillsAndHobbyItems">
                                <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                            </mat-list-item>
                        </mat-list>

                    </div>

            </div>

        </div>





        <div class="rightColumn">
            <h2 class="workExperience mat-h2">Work Experience</h2>


            <mat-list role="list">

                <mat-list-item class="hep" role="listitem">
                    <div class="columnHep" div fxLayout="column" fxLayoutAlign="stretch">
                        <h3 class="mat-h3">...........</h3>
                        <div class="rowHep" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="roleAtWork">...........</div>
                            <div class="workInterval">...........</div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>

                <mat-list class="listOfCompanies" role="list" fxLayout="column" fxLayoutAlign="space-evenly start">
                    <mat-list-item class="roles" role="listitem">- ...........</mat-list-item>
                    <mat-list-item class="roles" role="listitem">- ...........</mat-list-item>
                    <mat-list-item class="roles" role="listitem">- ...........</mat-list-item>

                </mat-list>


                <mat-list-item role="listitem">
                    <div class="columnHep" div fxLayout="column" fxLayoutAlign="stretch">
                        <h3 class="mat-h3">...........</h3>
                        <div class="rowHep" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="roleAtWork">...........</div>
                            <div class="workInterval">...........</div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>

                <mat-list class="listOfCompanies" role="list" fxLayout="column" fxLayoutAlign="space-evenly start">
                    <mat-list-item class="roles" role="listitem">- ...........
                    </mat-list-item>
                    <mat-list-item class="roles" role="listitem">- ...........
                    </mat-list-item>
                </mat-list>


                <mat-list-item role="listitem">
                    <div class="columnHep" div fxLayout="column" fxLayoutAlign="stretch">
                        <h3 class="mat-h3">...........</h3>
                        <div class="rowHep" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="roleAtWork">...........</div>
                            <div class="workInterval">...........</div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>

                </mat-list-item>
                <mat-list class="listOfCompanies" role="list" fxLayout="column" fxLayoutAlign="space-evenly start">
                    <mat-list-item class="roles" role="listitem">- ...........</mat-list-item>
                    <mat-list-item class="roles" role="listitem">- ...........</mat-list-item>
                    <mat-list-item class="roles" role="listitem">- ...........</mat-list-item>
                </mat-list>
            </mat-list>




            <h2 class="education mat-h2">Education</h2>
            <mat-list class="educationMatList" role="list">

                <mat-list-item role="listitem">
                    <div class="educationColumn" fxLayout="column" fxLayoutAlign="stretch">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="start">
                            <div class="faculty">...........</div>
                            <div class="timeSpan">...........</div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="degree">...........</div>
                    </div>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <div class="educationColumn" fxLayout="column" fxLayoutAlign="stretch">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="start">
                            <div class="faculty">...........</div>
                            <div class="timeSpan">...........</div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="degree">...........</div>
                    </div>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <div class="educationColumn" fxLayout="column" fxLayoutAlign="stretch">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="start">
                            <div class="faculty">...........</div>
                            <div class="timeSpan">...........</div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="degree">...........
                        </div>
                    </div>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <div class="educationColumn" fxLayout="column" fxLayoutAlign="stretch">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="start">
                            <div class="faculty">...........</div>
                            <div class="timeSpan">...........</div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="degree">...........</div>
                    </div>
                </mat-list-item>

            </mat-list>




            <h2 class="certification mat-h2">Certification</h2>
            <mat-list class="certificationMatList" role="list">

                <mat-list-item role="listitem">
                    <div class="certificationColumn" fxLayout="column" fxLayoutAlign="stretch">
                        <div class="faculty">...........</div>
                        <mat-divider class="twoRowsMatDivider"></mat-divider>
                        <div class="zeroPointEightEM">...........</div>
                    </div>
                </mat-list-item>
                
                <mat-list-item role="listitem">
                    <div class="certificationColumn" fxLayout="column" fxLayoutAlign="stretch">
                        <div class="faculty">...........</div>
                        <mat-divider class="twoRowsMatDivider"></mat-divider>
                        <div class="zeroPointEightEM">...........</div>
                    </div>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <div class="certificationColumn" fxLayout="column" fxLayoutAlign="stretch">
                        <div class="faculty">...........</div>
                        <mat-divider class="normalMatDivider"></mat-divider>
                        <div class="zeroPointEightEM">...........</div>
                        <div class="zeroPointEightEM"><a
                                href="...........">Credentials</a>
                        </div>
                    </div>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <div class="certificationColumn" fxLayout="column" fxLayoutAlign="stretch">
                        <div fxLayout="row">
                            <div fxFlex="90">...........</div> 
                            <div fxFlex="10" class="specDiv">
                                <button mat-flat-button (click)="toggleSpecialization()">
                                    <mat-icon *ngIf="!show">add_box</mat-icon>
                                    <mat-icon *ngIf="show">remove_circle</mat-icon>
                                </button>
                            </div> 
                          </div>
                          <mat-divider></mat-divider>
                        <div class="zeroPointEightEM">...........</div>
                        <div class="zeroPointEightEM"><a
                                href="...........">Credentials</a>
                        </div>
                    </div>
                </mat-list-item>

                <mat-list-item *ngIf="show" class="indent" role="listitem">
                    <div class="certificationColumn" fxLayout="column" fxLayoutAlign="stretch">
                        <div class="faculty">...........</div>
                        <mat-divider></mat-divider>
                        <div class="zeroPointEightEM">...........</div>
                        <div class="zeroPointEightEM"><a
                                href="...........">Credentials</a>
                        </div>
                    </div>
                </mat-list-item>

                <mat-list-item *ngIf="show" class="indent" role="listitem">
                    <div class="certificationColumn" fxLayout="column" fxLayoutAlign="stretch">
                        <div class="faculty">...........</div>
                        <mat-divider></mat-divider>
                        <div class="zeroPointEightEM">...........</div>
                        <div class="zeroPointEightEM"><a
                                href="...........">Credentials</a>
                        </div>
                    </div>
                </mat-list-item>

                <mat-list-item *ngIf="show" class="indent" role="listitem">
                    <div class="certificationColumn" fxLayout="column" fxLayoutAlign="stretch">
                        <div class="faculty">...........</div>
                        <mat-divider></mat-divider>
                        <div class="zeroPointEightEM">...........</div>
                        <div class="zeroPointEightEM"><a
                                href="...........">Credentials</a>
                        </div>
                    </div>
                </mat-list-item>

                <mat-list-item *ngIf="show" class="indent" role="listitem">
                    <div class="certificationColumn" fxLayout="column" fxLayoutAlign="stretch">
                        <div class="faculty">...........</div>
                        <mat-divider></mat-divider>
                        <div class="zeroPointEightEM">...........</div>
                        <div class="zeroPointEightEM"><a
                                href="...........">Credentials</a>
                        </div>
                    </div>
                </mat-list-item>

                <mat-list-item *ngIf="show"  role="listitem">
                    <div class="certificationColumn" fxLayout="column" fxLayoutAlign="stretch">
                        <div class="faculty">...........</div>
                        <mat-divider></mat-divider>
                        <div class="zeroPointEightEM">...........</div>
                        <div class="zeroPointEightEM"><a
                                href="...........">Credentials</a>
                        </div>
                    </div>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <div class="certificationColumn" fxLayout="column" fxLayoutAlign="stretch">
                        <div class="faculty">...........</div>
                        <mat-divider class="twoRowsMatDivider"></mat-divider>
                        <div class="zeroPointEightEM">...........</div>
                    </div>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <div class="certificationColumn" fxLayout="column" fxLayoutAlign="stretch">
                        <div class="faculty">...........</div>
                        <mat-divider class="twoRowsMatDivider"></mat-divider>
                        <div class="zeroPointEightEM">...........
                        </div>
                    </div>
                </mat-list-item>

            </mat-list>

        </div>
    </div>
</mat-card>