<mat-card>


        <mat-grid-list cols="1" rowHeight="15%" fxLayout="column" fxLayoutAlign="space-around center">
            <mat-grid-tile [rowspan]="3">
                <mat-icon class="icon">pan_tool</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile [rowspan]="1">
                <div class="number mat-body">404</div>
            </mat-grid-tile>
            <mat-grid-tile [rowspan]="1">
                <div class="words mat-body">Page Not Found</div>
            </mat-grid-tile>
        </mat-grid-list>

</mat-card>