<div class="mainDiv">
  <mat-card>
    <mat-card-content>
      <h1 class="mat-h1">Welcome!</h1>
      <br />
      <h2 class="mat-h2">How this started</h2>
      <div class="mat-body-1">
        This web app is designed as a learning project, because it is possible that building something is more useful than
        waste time on television or games. I'm a low-level electrical
        engineer who wanted to learn something, so I started to develop this web app from scratch.
        A year ago, I haven't heard about Angular. Then I watched some great youtube tutorials made by Venkat and slowly
        started to catch things up. I took a course where the focus was on
        C#, SQL, and MVC basics. Most of the knowledge is acquired by working on your own project.
      </div>
      <br />
      <h2 class="mat-h2">Content</h2>
      <div class="mat-body-1">
        This web app should show some Arduino projects (code, schematics, and results), which I find interesting to
        build.
        I'm not proficient in Arduino either, so the main goal of this project is to learn various stuff.
        Since learning is the main goal, I don't care if someone doesn't like design (I'm not an artist), code or even
        way of connecting electronic parts,
        because this is the first time I tried to build something that actually works and hopefully, with time, I'll get
        better.
      </div>
      <br />
      <h2 class="mat-h2">So how this works?</h2>
      <div class="mat-body-1">
        At home, I have one older laptop that is used as a home server which listens for data that is sent from Wemos
        (ESP8266 or something else).
        Data is stored in MySQL database, angular uses this data and shows data on diagrams on this web app.
        Those are some things that earlier I didn't know anything about.
      </div>
      <br />
      <h2 class="mat-h2">Summary</h2>
      <div class="mat-body-1">
        So this will be it. If you are interested, you can take a look at some of the projects. I know that there are not       
        so many projects for now, but the number will probably increase,
        depending on the imagination and free time.
      </div>
    </mat-card-content>
  </mat-card>
  <br />

  <mat-card class="carouselMatCard">
        <app-carousel></app-carousel>
    </mat-card>
  <br />
</div>